@import "../../App.scss";
@import "../../styles/mixins.scss";

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; // This will space out the children evenly
    height: 100vh; // Make it take the full viewport height
    //max-width: 1366px;
    margin: auto; // Center it horizontally if it's not taking the full width

    @include mobile {
        max-width: 700px;
    }


    .topBar {
        text-align: center;
        padding: 20px 50px; 
        flex: 0 1 auto; 
        
        h1 {
            color: white;
        }
    }
    

     .ide-wrapper {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center; // Centers its children
        padding: 20px;
        
        
        @include mobile {
            max-width: 700px;
        }
        .aboutMe {
            color: rgb(0, 255, 76)
        }
        pre {
            font-size: 1.3rem;
            color: rgb(0, 255, 76);
            text-align: left; 
            white-space: pre-wrap; 
            word-break: break-word; 
            width: 80%; 
            margin: auto; 

            @include mobile {
                font-size: 13px;
            }
        }
    }
    
    
    .colorCase {
        color: rgb(0, 255, 76);
    }
    .open-ide-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;


        p {
            margin-top: 10px; 
            color: white;
            font-size: 15px;

        }

        img {
            width: 100px;
        }

    }
   
  }