.introduction {
    .topBar {
      text-align: center;
      margin: 20px; // Adjust as needed
      
      h1 {
        // Styling for the top bar text
      }
    }
  
    .columns {
      display: flex;
      justify-content: space-between;
      gap: 20px; // Adjust the space between columns as needed
      max-width: 1380px;
      
      .leftColumn, .rightColumn {
        flex: 1; // Makes both columns take up equal space
  
        h2 {
          // Styling for column headings
          text-align: center;
          color: white;
        }
  
        pre {
          // Styling for the typed text, if you want to customize it further
          background-color: #4141415e; // Example styling
          color: rgb(0, 255, 221);
          text-align: center;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid rgb(0, 255, 255);
        }
      }
    }
  }