*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("/gridground2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-color: transparent;
    color: #c4c7cd;
    position: relative; 
}
h3 {
    font-size: 20pt;
    color: rgb(242, 242, 242);
}
.logo{
    text-decoration: none;
    font-family: serif;
    font-size: 50px;
    color: rgb(218, 221, 222);
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10%;
}
p {
    font-size: 15pt;
    color: rgb(255, 255, 255);
}
nav{
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    z-index: 1;
}
.nav-links{
    background-color: #394343;
    text-align: right;
    padding: 5px 20px;
    border-bottom-left-radius: 1px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li a:hover{
    color: #fc0808;
}
.left-sidebar{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(rgb(72, 72, 72), turquoise);
}
span{
  font-size: 70px;
  background: -webkit-linear-gradient(rgb(255, 1, 1), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.row{
    padding: 0 1%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: relative;
    margin-top: 5%;
}
.left-side-col{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    flex-basis: 50%;
    
    
}
.left-side-col img{
    padding: 0%;
    display: flex;
    margin-top: auto;
    align-items: normal;
    width: 70%;
    position: relative;
    cursor: pointer;
    border-radius: 2px;
}
.right-side-col{
    flex-basis: 50%;
    left: 50;
    top: 0;
}
.button-r{
    background-color: #394343;
    border:none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1px;
}
.button-r:hover{
    background-color: #70d781;
    transition: transform 0.5s;
    transform: translateX(8px);
}
.button-h{
    background-color: #394343;
    border:none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1px;
}
.button-h:hover{
    background-color: #70d781;
    transition: transform 0.5s;
    transform: translateX(-8px);
}
.right-side-col h1{
    font-size: 55px;
    font-weight: bold;
}
.right-side-col p{
    color: rgb #c4c7cd;
    margin: 20px 0 20px;
}
.social-icon{
    display: flex;
    position: relative;
    padding: 15px 32px;
    margin-top: 50px;
}
.icon{
    width: 100px;
    height: 80px;
    display: flex;
}
.icon img{
    width: 35px;
    margin-right: 20px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;    
}
.icon a:hover{
    transition: transform 0.5s;
    transform: translateY(-8px);
}
footer {
    text-align: center;
    font-size: 15pt;
    padding: 60px;
    align-items: center;
    justify-content: center; 
    background-color: rgb(89, 222, 209);
    color: white;
}
footer .icon {
position: relative;

}