@import "../../app.scss";

.testimonials {
    position: relative;
  
    .topBar {
        color: white;
      text-align: center;
      justify-content: center;
      
      margin: 30px;
      padding: 30px;
    }
  
    .columns {
      display: flex;
      justify-content: space-around;
      background-color: rgba(0, 0, 0, 0.432);
      
  
      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: calc(33.333% - 40px);
        margin: 20px;
        max-width: 400px; // Set a max-width for each column
        padding: 20px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.397);
        border-radius: 10px;
  
        img.testimonial-avatar {
          border-radius: 50%;
          width: 100px;
          height: 100px;
          object-fit: cover;
          margin-bottom: 15px;
        }
  
        h2, h3 {
            color: white;
          text-align: center;
          margin-bottom: 15px;
        }
  
        pre {
            color: white;
            width: 100%; // Ensure the <pre> tag fills the column width
            white-space: pre-wrap; // Allow wrapping of text
            word-wrap: break-word; // Break words to prevent overflow
            text-align: left;
            overflow-wrap: break-word; // Ensures long words don't overflow
            margin-bottom: 15px;
            max-width: 100%; //
        }
      }

      @include mobile {
        flex-direction: column;
        align-items: center;
        
  
        .column {
          max-width: 90%;
        }
    }
    }
  }
  