@import "styles/mixins.scss";

* {
    padding:0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'JetBrains Mono', monospace;
}
.parallaxBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* Ensure it's behind content but above the body background */
    /* Dynamically adjust the height or set it to a high enough value */
    height: 200vh; /* Example: enough to cover Hero and Introduction */
    overflow: hidden;
  }
  .parallaxBackgroundTwo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* Ensure it's behind content but above the body background */
    /* Dynamically adjust the height or set it to a high enough value */
    height: 200vh; /* Example: enough to cover Hero and Introduction */
    overflow: hidden;
  }
  .Testimonials {
    height: 100vh;
    @include mobile {
        height: 400vh;
    }
  }


// html {
//     scroll-snap-type: y mandatory;
//     scroll-behavior: smooth;
// }

body {
    background: rgb(33, 34, 33);
    //color: white;
    
}

a {
    text-decoration: none;
    color: inherit;  
}

section { 
    height: 100vh;
    scroll-snap-align: center;

    @include mobile {
        height: auto; // Adjust the height to auto to accommodate the content size
        min-height: 100vh; // Optional: Ensure it's at least the viewport height
      }
}



